* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font: 1vw "open-sans";
}
body {
  min-height: 100%;
}
.header-img {
  width: 10%;
}
.dark-mode-footer-text {
  color: white;
}
.light-mode-footer-text {
  color: #141e24;
}
.dark-mode-body-bg {
  background-color: #141e24;
}
.light-mode-body-bg {
  background-color: rgb(250, 249, 242);
}
.dark-mode-text {
  color: white;
}
.light-mode-menu-text {
  color: white;
}
.dark-mode-menu-text {
  color: white;
}
.light-mode-header {
  background-color: cornflowerblue;
}
.dark-mode-header {
  background-color: #141e24;
}
.light-mode-text {
  color: #141e24;
}
.dark-mode-bg {
  background-color: #141e24;
}
.light-mode-bg {
  background-color: white;
}
.dark-mode-bg-links-underline {
  background-color: white;
}
.light-mode-bg-links-underline {
  background-color: cornflowerblue;
}
#wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
.dark-mode-header {
  background-color: #050205;
}
header,
nav {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
header {
  padding: 10px 20px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
}
.header-heading {
  color: #ffd700;
  font-size: 2.2rem;
}
nav a {
  text-decoration: none;
}
nav a:hover + .link-underline-container > .link-underline {
  width: 100%;
  left: 0;
  background-color: white;
}
.link-container {
  display: flex;
  flex-direction: column;
}
.left-nav a {
  margin: 0.3rem;
}
.left-nav .link-container {
  margin-right: 3rem;
}
.left-nav {
  display: flex;
}
.link-underline {
  transition: width 0.3s, left 0.3s;
  left: 50%;
  position: absolute;
  height: 0.1rem;
  width: 0;
}
.link-underline-container {
  width: 100%;
  margin: auto;
  position: relative;
}
.container {
  padding: 10px;
  display: flex;
}
#aside {
  width: 25%;
  font-size: 0.75rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#aside li {
  margin-bottom: 0.5rem;
  list-style-position: inside;
}
#aside li a {
  text-decoration: none;
}
#aside li a:hover {
  text-decoration: underline;
}
.first-lvl-list {
  font-size: 0.9rem;
}
.second-lvl-list {
  margin-left: 0.5rem;
  font-size: 1rem;
  margin-left: 3rem;
}
.second-lvl-list + ul li {
  margin-left: 3rem;
}
#ads {
  width: 25%;
}
main {
  width: 50%;
  margin: 0 1%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}
#aside,
#ads,
main {
  padding: 10px;
}
.light-mode-content-bg {
  background-color: rgba(247, 243, 215, 0.2);
  border-radius: 10px;
}
.dark-mode-content-bg {
  background: repeating-linear-gradient(
    -45deg,
    rgba(37, 49, 56, 0.5) 0rem,
    rgba(37, 49, 56, 0.5) 0.03rem,
    #141e24 0.8rem,
    #141e24 1.3rem
  );
  border-radius: 10px;
}
.main-header {
  margin-bottom: 1.5rem;
  font-variant: small-caps;
  font-weight: normal;
  text-align: center;
}
.product-list {
  display: flex;
  flex-direction: column;
}
.product {
  width: 90%;
  margin: auto;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #b6d4d9;
  padding: 10px 10px 20px 10px;
}
.product-img {
  margin: 1rem 0;
  width: 100%;
}
.product-name {
  text-align: center;
}
.product-content {
  display: flex;
  flex-direction: column;
}
.product-desc {
  text-align: justify;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}
.product-footer {
  align-items: center;
  margin-top: 1.3rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.buy {
  font-size: 0.8rem;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  color: #a6f1a6;
  text-decoration: none;
  background-color: #14a0b5;
}
.buy:hover,
.buy:active {
  background-color: #0d8b9e;
}
.ad-image {
  width: 100%;
  margin-bottom: 0.3rem;
}
.ad-container {
  width: 90%;
  margin: auto;
  margin-bottom: 1.8rem;
  border-bottom: 1px solid #b6d4d9;
}
.ad-footer {
  text-align: center;
}
.ad-desc {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0.3rem 0;
  text-align: justify;
  font-size: 0.9rem;
}
.ad-link {
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  font-size: 0.95rem;
}
footer {
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aside {
  width: 25%;
  margin-right: 1%;
}
main {
  width: 75%;
}
.dark-mode-form-fieldset {
  border: 1px solid white;
}
.light-mode-form-fieldset {
  border: 1px solid red;
}
.form-input-text {
  width: 100%;
  padding: 10px 20px 10px 5px;
  font-style: italic;
}
.radio-container {
  display: flex;
  justify-content: center;
  width: 76%;
}
.upper-form,
.middle-form {
  margin: 0.3rem;
  display: flex;
  justify-content: flex-start;
}
.select {
  padding: 10px 10px 10px 5px;
  width: 100%;
}
.select-container {
  width: 26%;
}
.lower-form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.3rem 0;
}
.form-meessage {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.3rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 15px;
  border: none;
}
.dark-mode-form-container {
  border-bottom: none;
}
.light-mode-form-container {
  border: 1px solid red;
}
.form-container > div {
  margin-bottom: 0.8rem;
}
.upper-form-label {
  align-items: center;
  display: flex;
}
.lower-form-label,
.upper-form-label {
  letter-spacing: 0.13rem;
}
.lower-form-label {
  margin: 0 1px;
  margin-right: 5px;
}
.label-container {
  text-align: right;
}
.select,
.select option {
  font-style: italic;
  font-family: "Alegreya Sans SC";
  font-size: 0.9rem;
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input-textarea {
  resize: none;
  padding: 10px;
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
}
.error-message {
  text-align: center;
}
.buy:hover {
  cursor: pointer;
}
.error-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.label-container {
  width: 30%;
  margin-right: 18px;
}
.invalid-input {
  border: 1px solid red;
  box-shadow: 0 0 0.4rem 0.1rem red;
}
.error-invisible {
  visibility: hidden;
}
.error-message {
  color: tomato;
  visibility: hidden;
  font-family: "Alegreya Sans SC";
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
}
.error-visible {
  visibility: visible;
}
.radio-input-container {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.radio-label {
  text-align: center;
}
.input-field {
  font-size: 0.9rem;
}
